---
// Root redirect to English locale
// For static sites, we use meta refresh
const redirectUrl = '/en/';
---

<head>
  <meta http-equiv="refresh" content={`0;url=${redirectUrl}`} />
  <link rel="canonical" href={redirectUrl} />
</head>

<body>
  <p>Redirecting to <a href={redirectUrl}>/en/</a>…</p>
</body>
